* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 60px;
  margin-left: 60px;
}

nav ul {
  display: flex;
  list-style: none;
  margin-right: 20px;
  font-weight: 550;

}

nav ul li:first-child {
  color: green;
}

li {
  margin: 30px;
  font-family: "Poppins", sans-serif;

}